<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GroupControls" version="1.9.0" targetFramework="net48" />
  <package id="IdentityModel" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.21.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.4" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="7.0.1" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Extensions.ObjectPool" version="7.0.5" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.29.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.29.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.29.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.29.0" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="17.5.22" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.5.22" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Validation" version="17.6.11" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NLog" version="5.1.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Composition" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.AttributedModel" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Convention" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Hosting" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.Runtime" version="7.0.0" targetFramework="net48" />
  <package id="System.Composition.TypedParts" version="7.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="7.0.1" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>