<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      throwExceptions="false">
    <extensions>
        <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>

    <targets>
        <target xsi:type="ApplicationInsightsTarget" name="aiTarget" />
        <target xsi:type="Console" name="console"
                layout="${longdate}|${level}|${message}" />

        <target xsi:type="EventLog" name="ELChummer" machineName="."
                source="Chummer" log="Application"
                layout="${message}${newline}${newline}Pid: ${processid}${newline}Call site: ${callsite:className=true:methodName=true}${newline}Logger: ${logger}${newline}${exception:format=tostring}${newline}Source: (${event-properties:item=Source})"/>

        <target xsi:type="File" name="f" 
                layout="${longdate} ${uppercase:${level}} ${message}"

                fileName="${basedir}/logs/Chummer.${longdate:cached=true}.log"
                archiveFileName="${basedir}/logs/archives/log.${shortdate}.{#}.log"
                archiveAboveSize="5242880"
                archiveEvery="Day"
                archiveNumbering = "Rolling"
                maxArchiveFiles="20"
                />
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="console" />
        <logger name="*" minlevel="Debug" writeTo="f" />
        <!-- If you enable this, the user needs to run Chummer as Admin once! -->
        <!--logger name="*" minlevel="Off" writeTo="ELChummer"/-->
        <logger name="*" minlevel="Info" writeTo="aiTarget" />
    </rules>
   
</nlog>
