<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codaxy.WkHtmlToPdf" version="0.5.8" targetFramework="net452" />
  <package id="HtmlRenderer.Core" version="1.5.1-beta1" targetFramework="net452" />
  <package id="HtmlRenderer.PdfSharp" version="1.5.1-beta1" targetFramework="net452" />
  <package id="HtmlRenderer.WinForms" version="1.5.1-beta1" targetFramework="net452" />
  <package id="MersenneTwister" version="1.0.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="PDFsharp" version="1.50.4619-beta4c" targetFramework="net452" />
</packages>