<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.103.46" targetFramework="net452" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.101.73" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net452" />
</packages>