<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.0.31" targetFramework="net472" />
  <package id="AWSSDK.DynamoDBv2" version="3.7.0.30" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.114.0" targetFramework="net472" />
</packages>