<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.3.22" targetFramework="net472" />
  <package id="AWSSDK.DynamoDBv2" version="3.7.0.83" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.115.0" targetFramework="net472" />
</packages>