<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChummerHub.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.net>
        <defaultProxy enabled="true" useDefaultCredentials="true">
            <!--<proxy usesystemdefault="True" bypassonlocal="True" />-->
        </defaultProxy>
    </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ChummerHub.Client.Properties.Settings>
      <setting name="SINnerIds" serializeAs="String">
        <value />
      </setting>
      <setting name="SINnerUrls" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>https://sinners.azurewebsites.net/</string>
            <string>https://localhost:5001/</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SINnerUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="CookieData" serializeAs="String">
        <value />
      </setting>
      <setting name="SINnerVisibility" serializeAs="String">
        <value />
      </setting>
      <setting name="UserEmail" serializeAs="String">
        <value />
      </setting>
    </ChummerHub.Client.Properties.Settings>
  </userSettings>
</configuration>
