<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GroupControls" version="1.8.0" targetFramework="net452" />
  <package id="IdentityModel" version="3.10.1" targetFramework="net452" />
  <package id="Microsoft.Composition" version="1.0.31" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="System.Composition" version="1.2.0" targetFramework="net452" />
  <package id="System.Composition.AttributedModel" version="1.2.0" targetFramework="net452" />
  <package id="System.Composition.Convention" version="1.2.0" targetFramework="net452" />
  <package id="System.Composition.Hosting" version="1.2.0" targetFramework="net452" />
  <package id="System.Composition.Runtime" version="1.2.0" targetFramework="net452" />
  <package id="System.Composition.TypedParts" version="1.2.0" targetFramework="net452" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net452" />
</packages>