<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.14.0" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.21" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net452" />
  <package id="System.Memory" version="4.5.4" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net452" />
</packages>